# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next.js
.next/
out/
dist
build

# misc
.DS_Store
*.pem

# debug
*.log

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# git
.git
.gitignore

# docker
Dockerfile
.dockerignore
docker-compose.yml

# IDE
.idea
.vscode
