@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Arial, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
